* {
    margin: 0;
    padding: 0;
}
body {
    color: #2A211C;
    font: 13.34px/1.4 helvetica,arial,freesans,clean,sans-serif;
}
table {
	border-collapse: collapse;
}
#title {
    color: #006699;
    font-size: 30px;
    padding: 30px;
    text-align: center;
}
#title2 {
    color: #006699;
    font-size: 25px;
    text-align: center;
}
#desc {
    margin: 0 auto;
    width: 600px;
}
#opt {
    margin: 30px auto;
    width: 600px;
}
#opt table td {
    width: 200px;
}
#opt table tr.top {
    color: #006699;
    font-weight: bold;
}
#opt table tr.ref td {
    border-top: 1px solid #999999;
}
#exemple {
    height: 206px;
    margin: 30px auto;
    width: 618px;
}
.box {
    border: 1px solid #999999;
    float: left;
    height: 200px;
    margin: 2px;
    width: 200px;
}
#go {
    margin: 0 0 30px;
    text-align: center;
}
.img {
    display: none;
}
div.syntaxhighlighter {
    margin: 0 auto !important;
    width: 600px !important;
}
div#download {
    margin: 30px 0;
    text-align: center;
}
div#download a {
    color: #006699;
    font-weight: bold;
    text-decoration: none;
}
div#download a:hover {
	text-decoration: underline;
}